<!DOCTYPE html>
<html>
<head>
	<title>Conferma sviluppatore eliminato dal sistema</title>
	<link rel="stylesheet" href="/css/conferma.css" />	
</head>
<body>
	<div>
		<a href="/admin/developers"><img class="logo" src="/images/logo-games.jpeg" /></a>
	</div>
	<div>L'Admin <span th:text="${userDetails.username}"></span>
		ha eliminato lo sviluppatore selezionato e i giochi e partecipazioni a premi relativi sono stati eliminati</div>
</body>
<footer>
	<p>© 2024 CompanySiw, Inc</p>
	<a class="logoFooter" href="/"><img src="/images/logo-games.jpeg" width="10%" /></a>
</footer>
</html>