<!DOCTYPE html>
<html>
<head>
	<title>Sviluppatore</title>
	<link rel="stylesheet" href="/css/single.css" />
</head>
<body>
	<div>
		<a href="/admin/developers"><img class="logo" src="/images/logo-games.jpeg" width="30%"/></a>
	</div>
	<div class ="imgDev" th:if="${developer}">	
		<span><img th:src="'/videogame-photo/'+${developer.logo}" /></span>
	</div>
	<div th:unless="${developer}">Non esiste</div>
</body>
<footer>
	<p>© 2024 CompanySiw, Inc</p>
	<a class="logoFooter" href="/"><img src="/images/logo-games.jpeg" width="10%" /></a>
</footer>
</html>