<!DOCTYPE html>
<html>
	<head>
		<title>Nuovo Premio</title>
		<link rel="stylesheet" href="/css/NuovoPremio.css"/>
	</head>
<body>
	<div class="logo">
		<a href="/"><img src="/images/logo-games.jpeg" width="30%"/></a>
	</div>
	<h1>Aggiungi Premio</h1>
	<form class="form" th:action="@{/awards}" method="POST" th:object="${award}">
		<div class="error" th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div> 
		<div class="sviluppatore">Tipologia: 
			<input type="radio" th:field="${award.type}" value="Platform"><span>Platform</span>
			<input type="radio" th:field="${award.type}" value="Adventure"><span>Avventura</span>
			<input type="radio" th:field="${award.type}" value="Action"><span>Azione</span>
			<input type="radio" th:field="${award.type}" value="Role-Playing"><span>Ruolistico</span>
			<input type="radio" th:field="${award.type}" value="Shooter"><span>Sparatutto</span>
		</div>
		<div>Anno: 
			<span><input type="text" th:field="${award.year}"/></span>
			<span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
		</div>
		<div>
			<button type="submit">Conferma</button>
			<button type="reset">Cancella</button>
		</div>
	</form>
</body>
<footer>
	<p>© 2024 CompanySiw, Inc</p>
	<a class="logoFooter" href="/"><img src="/images/logo-games.jpeg" width="10%" /></a>
</footer>
</html>