<!DOCTYPE html>
<html>
	<head>
		<title>Nuovo Sviluppatore</title>
		<link rel="stylesheet" href="/css/form.css" />
	</head>
<body>
	<div class="logo">
		<a href="/"><img src="/images/logo-games.jpeg" width="40%"/></a>
	</div>
	<h1>Aggiungi Sviluppatore</h1>
	<form class="form" th:action="'/admin/' + @{developers}" method="POST" th:object="${developer}" enctype="multipart/form-data">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		<div class="titolo">Nome dell'Azienda: 
			<span><input required type="text" th:field="${developer.nameCompany}"/></span>
		</div>
		<div class="immagini">
			<label for="myfile">Logo(png,jpg,jpeg):</label>
			<span><input type="file" name="image" accept="image/png, image/jpg, image/jpeg" /></span>
		</div>
		<div>
			<button type="submit">Conferma</button>
			<button type="reset">Cancella</button>
		</div>
	</form>
</body>
<footer>
	<p>© 2024 CompanySiw, Inc</p>
	<a class="logoFooter" href="/"><img src="/images/logo-games.jpeg" width="10%" /></a>
</footer>
</html>