<!DOCTYPE html>
<html>
<head>
	<title>Premio</title>
	<link rel="stylesheet" href="/css/premio.css" />
</head>
<body>
	<header class="log">
		<a class="logo" href="/">
		<img class="logoImg" src="/images/logo-games.jpeg"/></a>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div th:if="${award}">
		<h1 th:text="'Miglior gioco ' + ${award.type} + ' del ' + ${award.year}"></h1>
		<div><span class="desc">Vincitore:</span>
			<span th:if="${award.winner}">
				<a th:href="'/default/' + @{'game' + '/' + ${award.winner.id}}">
					<img class="winner" th:src="'/videogame-photo/' + ${award.winner.urlImage}"/></a>
				<span id="title" th:text="${award.winner.title}+'  '"></span>
				<span id="company" th:text="${award.winner.developer.nameCompany}"></span>
			</span>
			<span th:unless="${award.winner}">Da determinare</span>
		</div>
		<div><span class="desc">Candidature:</span>
			<span th:if="${award.nominations.isEmpty()}">Non ci sono candidature per questo premio</span>			
			<ul class="nominations-list">
  				<li th:each="game : ${award.nominations}" class="nomination-item">
        		<a th:href="'/default/' + @{'game' + '/' + ${game.id}}">
            	<img class="nomin" th:src="'/videogame-photo/' + ${game.urlImage}" /></a>
       				<div class="game-details">
           				<div th:text="${game.title}"></div>
            			<div th:text="${game.developer.nameCompany}"></div>
        			</div>
    			</li>
			</ul>
		</div>
	</div>
	<div th:unless="${award}">Non esiste</div>
</body>
<footer>
	<p>© 2024 CompanySiw, Inc</p>
	<a class="logoFooter" href="/"><img src="/images/logo-games.jpeg" width="10%" /></a>
</footer>
</html>
