<!DOCTYPE html>
<html>
<head>
	<title>Giochi nel sistema</title>
	<link rel="stylesheet" href="/css/elenco.css" />
</head>
<body>
	<header class="log">
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div class="main-content">
		<a class ="ancoraLogo" href="/"><img class="logo" src="/images/logo-games.jpeg"/></a>
		<h1>Giochi:</h1>
		<div class="list">
			<div th:if="${games.isEmpty()}">Non ci sono giochi nel sistema</div>
			<ul>
				<li th:each="game : ${games}">
					<a th:href="'/default/' + @{'game' + '/' + ${game.id}}"
						th:text="${game.title}+ ' (' + ${game.year} + ')'"> 
					</a>
					<span><img width="20%" th:src="'/videogame-photo/'+${game.developer.logo}"/></span>
				</li>
			</ul>
		</div>
	</div>
</body>
<footer>
	<p>© 2024 CompanySiw, Inc</p>
	<a class="logoFooter" href="/"><img src="/images/logo-games.jpeg" width="10%" /></a>
</footer>
</html>