<!DOCTYPE html>
<html>
	<head>
		<title>Cerca Videogiochi per anno</title>
		<link rel="stylesheet" href="/css/form.css" />
	</head>
<body>
	<div class="logo"><a href="/"><img src="/images/logo-games.jpeg" width="40%"/></a></div>
	<h1>Cerca giochi per un determinato anno:</h1>
	<form class="form" th:action="@{/searchGames}" method="post">
		<div>Anno: 
			<input type="text" th:value="${year}" name ="year" />
		</div>
		<div>
			<button type="submit" >Invia</button>
		</div>
	</form>		
</body>
<footer>
	<p>© 2024 CompanySiw, Inc</p>
	<a class="logoFooter" href="/"><img src="/images/logo-games.jpeg" width="10%" /></a>
</footer>
</html>