<!DOCTYPE html>
<html>
<head>
	<title>
		Update Award
	</title>
	<link rel="stylesheet" href="/css/update.css" />
</head>
<body>
	<div class="logo"><a href="/"><img src="/images/logo-games.jpeg" width="40%" /></a></div>
	<h1>Aggiorna Premio</h1>
	<div th:if="${award}">
		<div class="award">
			<span th:text="${award.type}"></span>
			<span th:text="' (' + ${award.year} + ')'"></span>
		</div>
		<div>
			<span class="titolo">Candidati: </span>
			<div class="candidati" th:each="nomination: ${award.nominations}">
				<a th:href="'/default/' + @{'game' + '/' + ${nomination.id}}"
						th:text="${nomination.title}+ ' (' + ${nomination.year} + ')'"> 
					</a>
			</div>
			<a th:href="@{'/updateNominations/' + ${award.id} + '/' + ${award.type}+ '/'+${award.year}}">
				<button type="button">Modifica</button>
			</a>
		</div>
	</div>
	<div th:unless="${award}">Premio non esistente</div>
</body>
<footer>
	<p>© 2024 CompanySiw, Inc</p>
	<a class="logoFooter" href="/"><img src="/images/logo-games.jpeg" width="10%" /></a>
</footer>

</html>