<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Login
	</title>
	<link rel="stylesheet" href="/css/form.css" />
</head>

<body>
	<div class="logo">
		<a href="/"><img src="/images/logo-games.jpeg" width="40%"/></a>
	</div>
	<div>
	</div>
	<h1 class="login">Login</h1>
	<form class="form" th:action="@{/login}" method="POST">
			<div>
				<span>Username:</span>
				<span><input name="username" type="text" required /></span>
			</div>
			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span th:if="${param.error != null}">Username o password errati</span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
	</form>
	<div class="reg">
		<a th:href="@{/register}" th:text="Registrati">Registrati</a>
	</div>
</body>
<footer>
	<p>© 2024 CompanySiw, Inc</p>
	<a class="logoFooter" href="/"><img src="/images/logo-games.jpeg" width="10%" /></a>
</footer>

</html>