<!DOCTYPE html>
<html>

<head>
	<title>SiwFood - Registrazione conclusa</title>
	<link rel="stylesheet" href="/css/success.css"/>
</head>

<body>
	<div class="logo">
		<a href="/"><img src="/images/logo-games.jpeg" width="50%"/></a>
	</div>
	<div>
	</div>
	<h1>Congratulazioni ti sei registrato!</h1>
	<div>
		<span class="titolo">Nome: </span>
		<span class="scritte" th:text="${user.name}"></span>
	</div>
	<div>
		<span class="titolo">Cognome: </span>
		<span class="scritte" th:text="${user.surname}"></span>
	</div>
	<div>
		<span class="titolo">Email: </span>
		<span class="scritte" th:text="${user.email}"></span>
	</div>
	<div >
			<a class="login" href="/login">Login</a>
	</div>
</body>
<footer>
	<p>© 2024 CompanySiw, Inc</p>
	<a class="logoFooter" href="/"><img src="/images/logo-games.jpeg" width="10%" /></a>
</footer>
</html>